.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 6;
  background-color: aquamarine;
  height: 150px;
}
.div2 {
  grid-area: 2 / 2 / 6 / 5;
  background-color: bisque;
}
.div3 {
  grid-area: 2 / 1 / 6 / 2;
  background-color: cadetblue;
}
.div4 {
  grid-area: 2 / 5 / 6 / 6;
  background-color: coral;
}
